<div class="container-fluid">
    <div class="row top-row">
        <div class="col-md-1 w40-p0">
            <img class="logo-image" src="../../assets/Ellipse 1 copy 13-2x.png" (click)="home()">
        </div>
        <div class="col-md-6 w40-p0">
            <img src="../../assets/trackalt-2x.png" class="logo-text" (click)="home()">
        </div>
        <div class="col-md-5 p-0">
            <img class="triangle-1" src="../../assets/Triangle 1-2x.png">
        </div>
    </div>

    <div class="distictListContainer">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" style="width: 12%;">S.NO.</th>
                    <th scope="col" style="width: 25%;">DISTRICT NO.</th>
                    <th scope="col">SCHOOL YEAR</th>
                    <th scope="col">CREATED AT</th>
                    <th scope="col">ACTIONS</th>
                </tr>
            </thead>
            <tbody *ngIf="districtList && districtList.length > 0">
                <tr *ngFor="let item of districtList; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{item.number}}</td>
                    <td>{{item.schoolYear}}</td>
                    <td>{{item.createdAt.split('T')[0] | date: 'dd/MM/yyyy'}}</td>
                    <td class="text-right pull-right">
                        <button class="btn btn-sm mar-5-left" title="Edit Department" (click)="editDistrictData(item)"
                            style="padding-left: 5px;">
                            <img src="../../../assets/edit (2).png">
                        </button>
                        <button class="btn btn-sm mar-5-left" title="Edit Department"
                            (click)="deleteDistrictData(item)">
                            <img src="../../../assets/delete (3).png">
                        </button>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="districtList && districtList.length == 0">
                <p class="text-center no_data"> No Data Found!</p>
            </tbody>
        </table>
    </div>

    <div class="fixed-bottom">
        <img src="../../assets/Bottom Triangle.png" class="footer-image">
        <button type="button" class="btn btn-sm plus-icon" (click)="openAddModal()" data-toggle="modal"
            data-target="#addDistrictModal">
            <img src="../../../assets/plus.png">
        </button>
    </div>
    <div class="fixed-bottom row">

        <div class="col-md-2 w20-p0">
            <!-- <img src="../../assets/Footer Menu Link-2x.png" class="menu-icon"> -->
        </div>
        <div class="col-md-8 text-center w60-p0">
            <p class="user-info">Welcome {{userName}} !!</p>
        </div>
        <div class="col-md-2 text-center w20-p0">
            <!-- <img src="../../assets/Profile Icon-2x.png" class="profile-icon" (click)="logout()" data-toggle="tooltip"
                data-placement="top" title="Log Out">
            <p style="color: white;">Profile</p> -->

            <div class="w3-dropdown-hover">
                <img src="../../assets/Profile Icon-2x.png" class="profile-icon" data-toggle="tooltip"
                    data-placement="top" title="Log Out">
                <p style="color: white;">Profile</p>
                <div class="w3-dropdown-content w3-bar-block w3-border">
                    <a (click)="logout()" class="w3-bar-item w3-button">Log Out</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addDistrictModal" tabindex="-1" role="dialog" aria-labelledby="addDistrictModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title" id="addDistrictModalLabel" style="font-weight: 500">Add District</h5>
                <br>
                <form #f="ngForm" class="add-form" role="form">
                    <div class="row">
                        <div class="col-md-6">
                            <label style="font-size: 16px;">District</label>
                            <br>
                            <input type="text" class="text-input form-control" name="name" [(ngModel)]="name"
                                (keypress)="lettersOnly($event)" />
                        </div>
                        <div class="col-md-6">
                            <label style="font-size: 16px;">District Number</label>
                            <br>
                            <input type="text" class="text-input form-control" name="number" [(ngModel)]="number" />
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label style="font-size: 16px;">School Year</label>
                            <br>
                            <input type="text" class="text-input form-control" name="schoolYear"
                                [(ngModel)]="schoolYear">
                        </div>
                        <div class="col-md-6">
                            <label style="font-size: 16px;">District Office Email</label>
                            <br>
                            <input type="text" class="text-input form-control" name="officeEmail"
                                [(ngModel)]="officeEmail" (keydown.space)="$event.preventDefault()"
                                pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,3}$" id="officeEmail"
                                name="officeEmail" ngModel #officeEmailref="ngModel" [(ngModel)]="officeEmail"
                                required />

                            <div *ngIf="officeEmailref.errors &&(officeEmailref.touched || officeEmailref.dirty) "
                                class="aler alert-danger">
                                <div [hidden]="!officeEmailref.errors?.pattern">
                                    Invalid Email Format
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label style="font-size: 16px;">District Phone Number</label>
                            <br>
                            <input type="text" class="text-input form-control" name="officePhoneNumber"
                                [(ngModel)]="officePhoneNumber" (keydown.space)="$event.preventDefault()" />
                        </div>
                        <div class="col-md-6">
                            <label style="font-size: 16px;">District Fax Number</label>
                            <br>
                            <input type="text" class="text-input form-control" name="officeFaxNumber"
                                [(ngModel)]="officeFaxNumber" (keydown.space)="$event.preventDefault()" />
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label style="font-size: 16px;">Physical Address</label>
                            <br>
                            <input type="text" class="text-input form-control" name="physicalAddress"
                                [(ngModel)]="physicalAddress" />
                        </div>
                        <div class="col-md-6">
                            <label style="font-size: 16px;">Physical City</label>
                            <br>
                            <input type="text" class="text-input form-control" name="physicalCity"
                                [(ngModel)]="physicalCity" (keypress)="lettersOnly($event)" />
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label style="font-size: 16px;">Physical State</label>
                            <br>
                            <input type="text" class="text-input form-control" name="physicalState"
                                [(ngModel)]="physicalState" (keypress)="lettersOnly($event)" />
                        </div>
                        <div class="col-md-6">
                            <label style="font-size: 16px;">Physical Zip</label>
                            <br>
                            <input type="text" class="text-input form-control" name="physicalZip"
                                [(ngModel)]="physicalZip" (keydown.space)="$event.preventDefault()" />
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label style="font-size: 16px;">Mailing Address</label>
                            <br>
                            <input type="text" class="text-input form-control" name="mailingAddress"
                                [(ngModel)]="mailingAddress" />
                        </div>
                        <div class="col-md-6">
                            <label style="font-size: 16px;">Mailing City</label>
                            <br>
                            <input type="text" class="text-input form-control" name="mailingCity"
                                [(ngModel)]="mailingCity" (keypress)="lettersOnly($event)" />
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label style="font-size: 16px;">Mailing State</label>
                            <br>
                            <input type="text" class="text-input form-control" name="mailingState"
                                [(ngModel)]="mailingState" (keypress)="lettersOnly($event)" />
                        </div>
                        <div class="col-md-6">
                            <label style="font-size: 16px;">Mailing Zip</label>
                            <br>
                            <input type="text" class="text-input form-control" name="mailingZip"
                                [(ngModel)]="mailingZip" (keydown.space)="$event.preventDefault()" />
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label style="font-size: 16px;">Superintendent First Name</label>
                            <br>
                            <input type="text" class="text-input form-control" name="superintendentFirstName"
                                [(ngModel)]="superintendentFirstName" />
                        </div>
                        <div class="col-md-6">
                            <label style="font-size: 16px;">Superintendent Last Name</label>
                            <br>
                            <input type="text" class="text-input form-control" name="superintendentLastName"
                                [(ngModel)]="superintendentLastName" (keypress)="lettersOnly($event)" />
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label style="font-size: 16px;">Superintendent Phone Number</label>
                            <br>
                            <input type="text" class="text-input form-control" name="superintendentPhoneNumber"
                                [(ngModel)]="superintendentPhoneNumber" />
                        </div>
                        <div class="col-md-6">
                            <label style="font-size: 16px;">Superintendent Email</label>
                            <br>
                            <input type="text" class="text-input form-control" name="superintendentEmail"
                                [(ngModel)]="superintendentEmail" (keydown.space)="$event.preventDefault()"
                                pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,3}$" id="superintendentEmail"
                                name="superintendentEmail" ngModel #superintendentEmailref="ngModel"
                                [(ngModel)]="superintendentEmail" required />

                            <div *ngIf="superintendentEmailref.errors &&(superintendentEmailref.touched || superintendentEmailref.dirty) "
                                class="aler alert-danger">
                                <div [hidden]="!superintendentEmailref.errors?.pattern">
                                    Invalid Email Format
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="modal-buttons">
                        <button type="button" class="btn btn-light cancel-btn" data-dismiss="modal"
                            (click)="cancelAdd()">Cancel</button>
                        <button type="submit" class="btn btn-light add-btn" data-dismiss="modal" (click)="addDistrict()"
                            [disabled]="!name || !number || !schoolYear || !officeEmailref.valid ||
                            !officePhoneNumber || !officeFaxNumber || !physicalAddress || !physicalCity || !physicalState ||
                            !physicalZip || !mailingAddress || !mailingCity || !mailingState || !mailingZip || !superintendentFirstName 
                            || !superintendentLastName || !superintendentPhoneNumber || !superintendentEmailref.valid">Add</button>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editDistrictModal" tabindex="-1" role="dialog" aria-labelledby="editDistrictModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title" id="editDistrictModalLabel" style="font-weight: 500">Edit District</h5>
                <br>
                <form #f="ngForm" class="add-form" role="form">
                    <div class="row">
                        <div class="col-md-6">
                            <label style="font-size: 16px;">District</label>
                            <br>
                            <input type="text" class="text-input form-control" name="name" [(ngModel)]="name"
                                (keypress)="lettersOnly($event)" />
                        </div>
                        <div class="col-md-6">
                            <label style="font-size: 16px;">District Number</label>
                            <br>
                            <input type="text" class="text-input form-control" name="number" [(ngModel)]="number" />
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label style="font-size: 16px;">School Year</label>
                            <br>
                            <input type="text" class="text-input form-control" name="schoolYear"
                                [(ngModel)]="schoolYear">
                        </div>
                        <div class="col-md-6">
                            <label style="font-size: 16px;">District Office Email</label>
                            <br>
                            <input type="text" class="text-input form-control" name="officeEmail"
                                [(ngModel)]="officeEmail" (keydown.space)="$event.preventDefault()"
                                pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,3}$" id="officeEmail"
                                name="officeEmail" ngModel #officeEmailref="ngModel" [(ngModel)]="officeEmail"
                                required />

                            <div *ngIf="officeEmailref.errors &&(officeEmailref.touched || officeEmailref.dirty) "
                                class="aler alert-danger">
                                <div [hidden]="!officeEmailref.errors?.pattern">
                                    Invalid Email Format
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label style="font-size: 16px;">District Phone Number</label>
                            <br>
                            <input type="text" class="text-input form-control" name="officePhoneNumber"
                                [(ngModel)]="officePhoneNumber" (keydown.space)="$event.preventDefault()" />
                        </div>
                        <div class="col-md-6">
                            <label style="font-size: 16px;">District Fax Number</label>
                            <br>
                            <input type="text" class="text-input form-control" name="officeFaxNumber"
                                [(ngModel)]="officeFaxNumber" (keydown.space)="$event.preventDefault()" />
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label style="font-size: 16px;">Physical Address</label>
                            <br>
                            <input type="text" class="text-input form-control" name="physicalAddress"
                                [(ngModel)]="physicalAddress" />
                        </div>
                        <div class="col-md-6">
                            <label style="font-size: 16px;">Physical City</label>
                            <br>
                            <input type="text" class="text-input form-control" name="physicalCity"
                                [(ngModel)]="physicalCity" (keypress)="lettersOnly($event)" />
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label style="font-size: 16px;">Physical State</label>
                            <br>
                            <input type="text" class="text-input form-control" name="physicalState"
                                [(ngModel)]="physicalState" (keypress)="lettersOnly($event)" />
                        </div>
                        <div class="col-md-6">
                            <label style="font-size: 16px;">Physical Zip</label>
                            <br>
                            <input type="text" class="text-input form-control" name="physicalZip"
                                [(ngModel)]="physicalZip" (keydown.space)="$event.preventDefault()" />
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label style="font-size: 16px;">Mailing Address</label>
                            <br>
                            <input type="text" class="text-input form-control" name="mailingAddress"
                                [(ngModel)]="mailingAddress" />
                        </div>
                        <div class="col-md-6">
                            <label style="font-size: 16px;">Mailing City</label>
                            <br>
                            <input type="text" class="text-input form-control" name="mailingCity"
                                [(ngModel)]="mailingCity" (keypress)="lettersOnly($event)" />
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label style="font-size: 16px;">Mailing State</label>
                            <br>
                            <input type="text" class="text-input form-control" name="mailingState"
                                [(ngModel)]="mailingState" (keypress)="lettersOnly($event)" />
                        </div>
                        <div class="col-md-6">
                            <label style="font-size: 16px;">Mailing Zip</label>
                            <br>
                            <input type="text" class="text-input form-control" name="mailingZip"
                                [(ngModel)]="mailingZip" (keydown.space)="$event.preventDefault()" />
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label style="font-size: 16px;">Superintendent First Name</label>
                            <br>
                            <input type="text" class="text-input form-control" name="superintendentFirstName"
                                [(ngModel)]="superintendentFirstName" />
                        </div>
                        <div class="col-md-6">
                            <label style="font-size: 16px;">Superintendent Last Name</label>
                            <br>
                            <input type="text" class="text-input form-control" name="superintendentLastName"
                                [(ngModel)]="superintendentLastName" (keypress)="lettersOnly($event)" />
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label style="font-size: 16px;">Superintendent Phone Number</label>
                            <br>
                            <input type="text" class="text-input form-control" name="superintendentPhoneNumber"
                                [(ngModel)]="superintendentPhoneNumber" />
                        </div>
                        <div class="col-md-6">
                            <label style="font-size: 16px;">Superintendent Email</label>
                            <br>
                            <input type="text" class="text-input form-control" name="superintendentEmail"
                                [(ngModel)]="superintendentEmail" (keydown.space)="$event.preventDefault()"
                                pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,3}$" id="superintendentEmail"
                                name="superintendentEmail" ngModel #superintendentEmailref="ngModel"
                                [(ngModel)]="superintendentEmail" required />

                            <div *ngIf="superintendentEmailref.errors &&(superintendentEmailref.touched || superintendentEmailref.dirty) "
                                class="aler alert-danger">
                                <div [hidden]="!superintendentEmailref.errors?.pattern">
                                    Invalid Email Format
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="modal-buttons">
                        <button type="button" class="btn btn-light cancel-btn" data-dismiss="modal"
                            (click)="cancelEdit()">Cancel</button>
                        <button type="submit" class="btn btn-light add-btn" data-dismiss="modal"
                            (click)="editDistrict()"
                            [disabled]="!name || !number || !schoolYear || !officeEmailref.valid ||
                            !officePhoneNumber || !officeFaxNumber || !physicalAddress || !physicalCity || !physicalState ||
                            !physicalZip || !mailingAddress || !mailingCity || !mailingState || !mailingZip || !superintendentFirstName 
                            || !superintendentLastName || !superintendentPhoneNumber || !superintendentEmailref.valid">Edit</button>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteDistrictModal" tabindex="-1" role="dialog" aria-labelledby="deleteDistrictModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title" id="deleteDistrictModalLabel" style="font-weight: 500">Delete District</h5>
                <br>
                <p>Are you sure want to delete this district?</p>
                <form #f="ngForm" class="add-form" role="form">
                    <div class="modal-buttons">
                        <button type="button" class="btn btn-light cancel-btn" data-dismiss="modal"
                            (click)="cancelDelete()">NO</button>
                        <button type="submit" class="btn btn-light add-btn" data-dismiss="modal"
                            (click)="deleteDistrict()">Yes</button>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>