<div class="container-fluid">
    <div class="row top-row">
        <div class="col-md-1 w40-p0">
            <img class="logo-image" src="../../assets/Ellipse 1 copy 13-2x.png">
        </div>
        <div class="col-md-6 w40-p0">
            <img src="../../assets/trackalt-2x.png" class="logo-text">
        </div>
        <div class="col-md-5 p-0">
            <img class="triangle-1" src="../../assets/Triangle 1-2x.png">
        </div>
    </div>

    <div class="buttons-container" *ngIf="!moreOptions">
        <div class="buttons-row">
            <div class="button-box">
                <div class="circle" style="background-image: url('../../assets/Button 1-2x.png');">
                    <img src="../../assets/District Icon-2x.png" class="button-icon">
                </div>
                <p class="button-title one" style="cursor: pointer;" [routerLink]="['/dashboard/district']">District
                    Setup/Edit</p>
            </div>
            <div class="button-box">
                <div class="circle" style="background-image: url('../../assets/Button 2-2x.png');">
                    <img src="../../assets/Calendar Icon-2x.png" class="button-icon">
                </div>
                <p class="button-title two" style="cursor: pointer;" [routerLink]="['/dashboard/district-calendar']">
                    District Calendar Setup/Edit</p>
            </div>
            <div class="button-box">
                <div class="circle" style="background-image: url('../../assets/Button 3-2x.png');">
                    <img src="../../assets/Button 3 Teacher Icon-2x.png" class="button-icon">
                </div>
                <p class="button-title three" style="cursor: pointer;" [routerLink]="['/dashboard/school']">School
                    Setup/Edit</p>
            </div>
        </div>
        <br>
        <div class="buttons-row">
            <div class="button-box">
                <div class="circle" style="background-image: url('../../assets/Button 6 Tag Lookup Icon-2x.png');">
                    <img src="../../assets/admin-2x.png" class="button-icon">
                </div>
                <p class="button-title fourth" style="cursor: pointer;" [routerLink]="['/dashboard/admin']">Admin
                    Setup/Edit</p>
            </div>
            <div class="button-box">
                <div class="circle" style="background-image: url('../../assets/Button 5 Admin Icon-2x.png');">
                    <img src="../../assets/Button 2 Students icon-2x.png" class="button-icon">
                </div>
                <p class="button-title fifth" style="cursor: pointer;" [routerLink]="['/dashboard/student']">Student
                    Setup/Edit</p>
            </div>
            <div class="button-box">
                <div class="circle" style="background-image: url('../../assets/Button 4-2x.png');">
                    <img src="../../assets/Button 4 Reports Icon-2x.png" class="button-icon">
                </div>
                <p class="button-title sixth" style="cursor: pointer;" [routerLink]="['/dashboard/teacher']">Teacher
                    Setup/Edit</p>
            </div>
        </div>
    </div>

    <div class="buttons-container more" *ngIf="moreOptions">
        <div class="buttons-row">
            <div class="button-box">
                <div class="circle" style="background-image: url('../../assets/Button 1-2x.png');">
                    <img src="../../assets/Button 1 Attendance-2x.png" class="button-icon">
                </div>
                <p class="button-title one" style="cursor: pointer;" [routerLink]="['/dashboard/school-calendar']">
                    School Calendar Setup/Edit</p>
            </div>
            <div class="button-box">
                <div class="circle" style="background-image: url('../../assets/Button 2-2x.png');">
                    <img src="../../assets/RFID Lookup-2x.png" class="button-icon">
                </div>
                <p class="button-title two">RFID Lookup</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 offset-md-10" *ngIf="!moreOptions">
            <button type="submit" class="btn btn-light next-page" (click)="moreOptions = true">Next Page</button>
        </div>
        <div class="col-md-2 offset-md-10" *ngIf="moreOptions">
            <button type="submit" class="btn btn-light previous-page" (click)="moreOptions = false">Previous
                Page</button>
        </div>
    </div>

    <div class="fixed-bottom">
        <img src="../../assets/Bottom Triangle.png" class="footer-image">
    </div>
    <div class="fixed-bottom row">

        <div class="col-md-2 w20-p0">
            <!-- <img src="../../assets/Footer Menu Link-2x.png" class="menu-icon"> -->
        </div>
        <div class="col-md-8 text-center w60-p0">
            <p class="user-info">Welcome {{userName}} !!</p>
        </div>
        <div class="col-md-2 text-center w20-p0">
            <!-- <img src="../../assets/Profile Icon-2x.png" class="profile-icon" (click)="logout()" data-toggle="tooltip"
                data-placement="top" title="Log Out">
            <p style="color: white;">Profile</p> -->

            <div class="w3-dropdown-hover">
                <img src="../../assets/Profile Icon-2x.png" class="profile-icon" data-toggle="tooltip"
                    data-placement="top" title="Log Out">
                <p style="color: white;">Profile</p>
                <div class="w3-dropdown-content w3-bar-block w3-border">
                    <a (click)="logout()" class="w3-bar-item w3-button">Log Out</a>
                </div>
            </div>
        </div>
    </div>
    <!-- <br> -->
    <!-- <br> -->
</div>