<div class="container-fluid">
    <div class="row top-row">
        <div class="col-md-1 w40-p0">
            <img class="logo-image" src="../../assets/Ellipse 1 copy 13-2x.png">
        </div>
        <div class="col-md-6 w40-p0">
            <img src="../../assets/trackalt-2x.png" class="logo-text">
        </div>
        <div class="col-md-5 p-0">
            <img class="triangle-1" src="../../assets/Triangle 1-2x.png">
        </div>
    </div>

    <div class="form" *ngIf="emailSent">
        <form #f="ngForm" role="form" class="forgot-form changePasswordForm" (submit)="resetPassword(f.value)">
            <div class="form-section">
                <p class="text">Forgot your password?</p>
                <img src="../../assets/x-mark.png" class="x-mark" [routerLink]="['/login']">
            </div>
            <h5>Let us help you</h5>
            <div class="instructions text-center">
                <p class="fs8">To protect your account, an automatic email has been sent to the email ending in
                    *****y13@gmail.com
                    containing the Validation Code.
                </p>
                <p class="fs8" style="margin-bottom: 1px;">Please enter the code below with your old and new password.
                </p>
                <span class="fs8">If you did not recieve the email, <span style="color: blue; cursor: pointer;"
                        (click)="reSendEmail(email)">CLICK HERE</span> to resend. Be sure to check your SPAM folder as
                    well.</span>
            </div>
            <div class="form-inputs">
                <div class="flex">
                    <label class="changePassword">Validation Code</label>
                    <input type="text" class="form-control input-field changePassword"
                        placeholder="Enter validation code" (keydown.space)="$event.preventDefault()"
                        id="validationCode" name="validationCode" [(ngModel)]="validationCode" required>
                </div>

                <div class="flex">
                    <label class="changePassword">New Password</label>
                    <input id="newPassword" type="password" class="form-control input-field changePassword"
                        name="newPassword" [(ngModel)]="newPassword" placeholder="Enter password">
                </div>

                <div class="flex">
                    <label class="changePassword">Confirm Password</label>
                    <input id="confirmPassword" type="password" class="form-control input-field changePassword"
                        name="confirmPassword" [(ngModel)]="confirmPassword" placeholder="Re-enter your password">
                </div>
                <div *ngIf="(confirmPassword && (newPassword != confirmPassword))" class="aler alert-danger">
                    <div [hidden]="!(newPassword != confirmPassword)" class="validation">
                        Password do not match
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 offset-md-4">
                        <button type="submit" class="btn btn-light col-md-4 offset-md-4 submit changePassword"
                            [disabled]="!validationCode || !newPassword || !confirmPassword">Change Password</button>
                    </div>
                </div>
            </div><br>
        </form>
    </div>

    <div class="form" *ngIf="!emailSent">
        <form #f="ngForm" role="form" class="forgot-form" (submit)="sendEmail(f.value)">
            <div class="form-section">
                <p class="text">Forgot your password?</p>
                <img src="../../assets/x-mark.png" class="x-mark" [routerLink]="['/login']">
            </div>
            <h5>Let us help you</h5>
            <div class="instructions text-center">
                <p class="fs8"> To protect your account, an automatic email will be send to your email containing the
                    Validation Code.
                </p>
            </div>
            <div class="form-inputs">
                <div class="flex">
                    <label>Email</label>
                    <!-- <input type="text" class="form-control input-field" (keydown.space)="$event.preventDefault()"
                    id="email" name="email" [(ngModel)]="email" required> -->

                    <input type="email" class="form-control input-field" placeholder="Email"
                        (keydown.space)="$event.preventDefault()"
                        pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,3}$" id="email" name="email" ngModel
                        #emailref="ngModel" [(ngModel)]="email" required>
                    <br>

                </div>
                <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class="aler alert-danger">
                    <div [hidden]="!emailref.errors?.pattern" class="validation">
                        Invalid Email Format
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 offset-md-4">
                        <button type="submit" class="btn btn-light submit" [disabled]="!email">Submit</button>
                    </div>
                </div>
            </div>
            <br>
        </form>
    </div>

    <div class="fixed-bottom">
        <img src="../../assets/Bottom Triangle.png" class="footer-image">
    </div>
    <div class="fixed-bottom row">

        <div class="col-md-2">
            <!-- <img src="../../assets/Footer Menu Link-2x.png" class="menu-icon"> -->
        </div>
    </div>
</div>